<div class="container">
  <div class="header" (click)="togglePanel()">
    Wybór produktów
    <div class="panel-toggle" [@rotateArrow]="expanded ? 'expanded' : 'collapsed'">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30px" height="30px">
        <path fill="#777576"
          d="M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z"/>
      </svg>
    </div>
  </div>
  <div [@expansion]="expanded ? 'expanded' : 'collapsed'" class="content" [ngClass]="{expanded: expanded, collapsed: !expanded}">
    <app-product-select-item *ngFor="let prod of products" [product]="prod" (click)="selectProduct(prod)" [selected]="prod === selectedProduct"></app-product-select-item>
  </div>
</div>
